/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
@import "tailwindcss";



@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --color-bg: white;
  --color-fg: black;
}

@layer base {
  html {
    font-family: var(--font-sans);
    background-color: var(--color-bg);
    color: var(--color-fg);
  }
}
/* app/globals.css のどこかに追加 */
.edge-pad {
  padding-left: calc(26px + env(safe-area-inset-left));
  padding-right: calc(26px + env(safe-area-inset-right));
}
@media (min-width: 640px){ .edge-pad { padding-left: 32px; padding-right: 32px; } }  /* sm */
@media (min-width: 1024px){ .edge-pad { padding-left: 48px; padding-right: 48px; } } /* lg */


:root { --xpad: 26px; }
.app-x{
  padding-left:  calc(var(--xpad) + env(safe-area-inset-left));
  padding-right: calc(var(--xpad) + env(safe-area-inset-right));
}
html{ -webkit-text-size-adjust:100%; text-size-adjust:100%; }

/* globals.css */
.badge-chiccha {
  position: relative;
  font-size: 2.56em;   /* スマホ基準 */
  top: -0.14em;        /* スマホ基準 */
  margin-right: 0.20em;/* スマホ基準（pxでもOK） */
  line-height: 1;      /* = leading-none */
}

/* 640px〜（= sm:） */
@media (min-width: 640px) {
  .badge-chiccha {
    font-size: 0.58em;
    top: -0.12em;
    margin-right: 0.20em;
  }
}

/* 768px〜（= md:） */
@media (min-width: 768px) {
  .badge-chiccha {
    font-size: 0.60em;
    top: -0.10em;
    margin-right: 0.22em;
  }
}
@supports (-webkit-touch-callout: none) {
  @media (min-width: 1024px) and (max-width: 1366px) {
    .ipad-fix-pt {
      padding-top: calc(60px + env(safe-area-inset-top)) !important;
    }
  }
}
